{% extends "main.html" %}
{% block content %}
      <div class="row">                                                          
                                                                                 
        <div class="col-sm-8 wiki-main">                                         
                                                                                 
<h2>{{ callsign.callsign }}</h2>
<p class="dxcc">{{ callsign.dxcc }}</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Summary</h3>
  </div>
  <div class="panel-body">
<ul>
	<li>Latitude/Longitude: {{ callsign.lat }} / {{ callsign.lon }}</li>
	{% if "locator" in callsign.keys() %}
	<li>Maidenhead Locator: {{ callsign.locator }}</li>
	{% endif %}
	{% if "repeater" in callsign.keys() and callsign.repeater[0].keeper != "" %}
	<li>Keeper: {{ callsign.repeater[0].keeper }}</li>
	{% endif %}
</ul>
  </div>
</div>

{% if "repeater" in callsign.keys() %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Repeater Details</h3>
  </div>
  <div class="panel-body">
	  <table style="width: 100%; font-size: 16px!important;">
<tr style="border-bottom: 1px dashed #003;">
			  <th>Callsign</th>
			  <th>Mode</th>
			  <th>Tx/Rx</th>
			  <th>Activation</th>
			  <th>Location</th>
		  </tr>
{% for r in callsign.repeater %}
<tr style="border-bottom: 1px dashed #003;">
			  <td>{{ r.callsign }}</td>
			  <td>{{ r.mode }}</td>
			  <td>{{ r.tx }}MHz/{{ r.rx }}MHz</td>
			  <td>{% if r.burst %}1750Hz Burst Tone{% elif r.carrier %}Carrier Presence{% elif r.ctcss != 0 %}{{ r.ctcss }}Hz CTCSS Tone{% else %}Valid signal{% endif %}</td>
			  <td>{{ r.locator }}</td>
		  </tr>
{% endfor %}
	  </table>
  </div>
</div>
{% endif %}

{% if "club" in callsign.keys() %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Club Details</h3>
  </div>
  <div class="panel-body">
<h4>{{ callsign['club']['name'] }}</h4>
<p><i>{{ callsign['club']['town'] }}</i></p>
{% if callsign.keeper != "" %}
<ul><li>Contact: {{ callsign.keeper }}</li></ul>
{% endif %}
  </div>
</div>
{% endif %}

{% if aprs['found'] > 0 %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">APRS Details</h3>
  </div>
  <div class="panel-body">
<table style="width: 100%; font-size: 16px!important;">
<tr style="border-bottom: 1px dashed #003;">
<th>Callsign</th>
<th>Last Heard</th>
<th>Location</th>
</tr>
{% for s in aprs['entries'] %}
<tr>
<td>{{ s['name'] }}</td>
<td>{{ s['time'] }}</td>
<td>{{ s['lat'] }}N, {{ s['lng'] }}E.</td>
</tr>
<tr>
<td colspan="3" style="border-bottom: 1px dashed #003;">"{{ s['comment'] }}"</td>
</tr>
{% endfor %}
</table>
  </div>
</div>
{% endif %}

{% if wspr != [] %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">WSPR Details</h3>
  </div>
  <div class="panel-body">
<table style="width: 100%; font-size: 16px!important;">
<tr style="border-bottom: 1px dashed #003;">
<th>Timestamp</th>
<th>Frequency</th>
<th>Reporter</th>
<th>Reporter Locator</th>
<th>SNR</th>
<th>Drift</th>
<th>Power</th>
<th>Distance</th>
</tr>
{% for s in wspr %}
<tr style="border-bottom: 1px dashed #003;">
<td>{{ s['timestamp'] }}</td>
<td>{{ s['freq'] }}MHz</td>
<td>{{ s['rptcall'] }}</td>
<td>{{ s['rptgrid'] }}</td>
<td>{{ s['snr'] }}</td>
<td>{{ s['drift'] }}</td>
<td>{{ s['pwr'] }}</td>
<td>{{ s['distance'] }}</td>
</tr>
{% endfor %}
</table>
  </div>
</div>
{% endif %}


        </div><!-- /.wiki-main -->                                               
                                                                                 
        <div class="col-sm-3 col-sm-offset-1 wiki-sidebar">                      
          <div class="sidebar-module">                                           
                  <p>&nbsp;</p>                                                  
          </div>                                                                 
        </div><!-- /.wiki-sidebar -->                                            
                                                                                 
      </div><!-- /.row --> 

{% endblock %}
