<!DOCTYPE html>
<html>
<head>
<title>OpenQUA</title>
<style type="text/css">
body { font-family: monospace; background-color: #666; color: #ddd; }
a { color: #dd0; }
</style>
</head>

<body style="text-align:center;">

<h1 style="font-size: 100px;line-height: 100px;padding:0;margin:20px 0 0 0;">OpenQUA</h1>

<p>Have you heard news of .... ?</p>

<br>

<form action="/search" method="GET">
	<input type="text" name="callsign" style="border:1px solid #000;">
	<input type="submit" style="border:1px solid #000;" value="Search">
</form>

<br>

<p><a href="/api/0.1/">API</a> | <a href="/map">Map</a> | <a href="http://github.com/openqua/openqua">Source Code</a></p>

<hr>

<p>An <a href="http://iain.learmonth.me/">irl</a> and <a href="http://sector5d.org/">derecho</a> project.</p>
</body>

</html> 
