{% extends "main.html" %}
{% block content %}
<div class="row">                                                          
                                                                                 
        <div class="col-sm-12 wiki-main">
		<h2>Map</h2>
<div id="mapdiv" style="width: 100%; height: 700px; color: #000!important;"></div>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
    //map_controls = [ new OpenLayers.Control.OverviewMap(), new OpenLayers.Control.LayerSwitcher(), new OpenLayers.Control.PanZoomBar(), new OpenLayers.Control.NavToolbar() ];
    map = new OpenLayers.Map("mapdiv"); //, {'controls': map_controls});
    ls = new OpenLayers.Control.LayerSwitcher()
    map.addControl(ls);
    ls.maximizeControl();
    map.addLayer(new OpenLayers.Layer.OSM());

    epsg4326 =  new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
    projectTo = map.getProjectionObject(); //The map projection (Spherical Mercator)

    // Clubs Layer

    var clubsLayer = new OpenLayers.Layer.Vector("Amateur Radio Clubs");

    {% for club in clubs %}
    // Define markers as "features" of the vector layer:
    var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point( {{ club.lon }} , {{ club.lat }} ).transform(epsg4326, projectTo),
	    {description:'Callsign: <a href="/c/{{ club.callsign }}">{{ club.callsign }}</a><br>Name: {{ club.name }}'},
            {externalGraphic: '{{ url_for('static', filename='img/club-station.gif') }}', graphicHeight: 22, graphicWidth: 22, graphicXOffset:-11, graphicYOffset:-22  }
        );
    clubsLayer.addFeatures(feature);
    {% endfor %}

    map.addLayer(clubsLayer);
 

    // FM Repeaters Layer
 
    var fmLayer = new OpenLayers.Layer.Vector("FM Repeaters");

    {% for repeater in repeaters %}
    {% if repeater.mode == "FM" %}
    // Define markers as "features" of the vector layer:
    var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point( {{ repeater.lon }} , {{ repeater.lat }} ).transform(epsg4326, projectTo),
	    {description:'Callsign: <a href="/c/{{ repeater.callsign }}">{{ repeater.callsign }}</a><br>Mode: {{ repeater.mode }}<br>TX/RX: {{ repeater.tx }}/{{ repeater.rx }}<br>CTCSS: {{ repeater.ctcss }}'},
            {externalGraphic: '{{ url_for('static', filename='img/fm-repeater.gif') }}', graphicHeight: 22, graphicWidth: 22, graphicXOffset:-11, graphicYOffset:-22  }
        );
    fmLayer.addFeatures(feature);
    {% endif %}
    {% endfor %}

    map.addLayer(fmLayer);

    // D-Star Repeaters Layer

    var dstarLayer = new OpenLayers.Layer.Vector("D-STAR Repeaters");

    {% for repeater in repeaters %}
    {% if repeater.mode == "DSTAR" %}
    // Define markers as "features" of the vector layer:
    var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point( {{ repeater.lon }} , {{ repeater.lat }} ).transform(epsg4326, projectTo),
	    {description:'Callsign: <a href="/c/{{ repeater.callsign }}">{{ repeater.callsign }}</a><br>Mode: {{ repeater.mode }}<br>TX/RX: {{ repeater.tx }}/{{ repeater.rx }}<br>CTCSS: {{ repeater.ctcss }}'},
            {externalGraphic: '{{ url_for('static', filename='img/dstar-repeater.gif') }}', graphicHeight: 22, graphicWidth: 22, graphicXOffset:-11, graphicYOffset:-22  }
        );
    dstarLayer.addFeatures(feature);
    {% endif %}
    {% endfor %}

    map.addLayer(dstarLayer);

    // DMR Repeaters Layer

    var dmrLayer = new OpenLayers.Layer.Vector("DMR Repeaters");

    {% for repeater in repeaters %}
    {% if repeater.mode == "DMR" %}
    // Define markers as "features" of the vector layer:
    var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point( {{ repeater.lon }} , {{ repeater.lat }} ).transform(epsg4326, projectTo),
	    {description:'Callsign: <a href="/c/{{ repeater.callsign }}">{{ repeater.callsign }}</a><br>Mode: {{ repeater.mode }}<br>TX/RX: {{ repeater.tx }}/{{ repeater.rx }}<br>CTCSS: {{ repeater.ctcss }}'},
            {externalGraphic: '{{ url_for('static', filename='img/dmr-repeater.gif') }}', graphicHeight: 22, graphicWidth: 22, graphicXOffset:-11, graphicYOffset:-22  }
        );
    dmrLayer.addFeatures(feature);
    {% endif %}
    {% endfor %}

    map.addLayer(dmrLayer);

    // Set the initial view

    var zoom = 5;

    var lonLat = new OpenLayers.LonLat( -3, 55 )
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          ); 
 
    map.setCenter (lonLat, zoom);

    //Add a selector control to the layers with popup functions

    var controls = {
      selector: new OpenLayers.Control.SelectFeature([clubsLayer, fmLayer, dstarLayer, dmrLayer], { onSelect: createPopup, onUnselect: destroyPopup }),
    };

    function createPopup(feature) {
      feature.popup = new OpenLayers.Popup.FramedCloud("pop",
          feature.geometry.getBounds().getCenterLonLat(),
          null,
          '<div class="markerContent">'+feature.attributes.description+'</div>',
          null,
          true,
          function() { controls['selector'].unselectAll(); }
      );
      //feature.popup.closeOnMove = true;
      map.addPopup(feature.popup);
    }

    function destroyPopup(feature) {
      feature.popup.destroy();
      feature.popup = null;
    }
    
    map.addControl(controls['selector']);
    controls['selector'].activate();

  </script>
  <br>
	</div>
</div>
{% endblock %}
