<html><body>
  <div id="mapdiv"></div>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());

    epsg4326 =  new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
    projectTo = map.getProjectionObject(); //The map projection (Spherical Mercator)
 
    var zoom=5;
 
    var vectorLayer = new OpenLayers.Layer.Vector("Overlay");


    {% for repeater in repeaters %}
    // Define markers as "features" of the vector layer:
    var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point( {{ repeater.lon }} , {{ repeater.lat }} ).transform(epsg4326, projectTo),
            {description:'Callsign: {{ repeater.callsign }}<br>Mode: {{ repeater.mo }}<br>TX/RX: {{ repeater.tx }}/{{ repeater.rx }}<br>CTCSS: {{ repeater.to }}'}
    {% if repeater.mo == "FM" %}
            ,{externalGraphic: '{{ url_for('static', filename='img/fm-repeater.gif') }}', graphicHeight: 22, graphicWidth: 22, graphicXOffset:-11, graphicYOffset:-22  }
    {% endif %}
    {% if repeater.mo == "DSTAR" %}
            ,{externalGraphic: '{{ url_for('static', filename='img/dstar-repeater.gif') }}', graphicHeight: 22, graphicWidth: 22, graphicXOffset:-11, graphicYOffset:-22  }
    {% endif %}
    {% if "FSK" in repeater.mo %}
            ,{externalGraphic: '{{ url_for('static', filename='img/packet-station.gif') }}', graphicHeight: 22, graphicWidth: 22, graphicXOffset:-11, graphicYOffset:-22  }
    {% endif %}
    {% if repeater.mo == "DMR" %}
            ,{externalGraphic: '{{ url_for('static', filename='img/dmr-repeater.gif') }}', graphicHeight: 22, graphicWidth: 22, graphicXOffset:-11, graphicYOffset:-22  }
    {% endif %}
        );
    vectorLayer.addFeatures(feature);
    {% endfor %}

    var lonLat = new OpenLayers.LonLat( -3, 55 )
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          ); 

    map.addLayer(vectorLayer);
 
    map.setCenter (lonLat, zoom);

    //Add a selector control to the vectorLayer with popup functions
    var controls = {
      selector: new OpenLayers.Control.SelectFeature(vectorLayer, { onSelect: createPopup, onUnselect: destroyPopup })
    };

    function createPopup(feature) {
      feature.popup = new OpenLayers.Popup.FramedCloud("pop",
          feature.geometry.getBounds().getCenterLonLat(),
          null,
          '<div class="markerContent">'+feature.attributes.description+'</div>',
          null,
          true,
          function() { controls['selector'].unselectAll(); }
      );
      //feature.popup.closeOnMove = true;
      map.addPopup(feature.popup);
    }

    function destroyPopup(feature) {
      feature.popup.destroy();
      feature.popup = null;
    }
    
    map.addControl(controls['selector']);
    controls['selector'].activate();
  </script>
</body></html>
