<html><body>
  <div id="mapdiv"></div>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());
 
    var zoom=5;
 
    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);

    {% for x in repeaters %}

    var lonLat = new OpenLayers.LonLat( {{ x.lon }} , {{ x.lat }} )
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          ); 
 
    markers.addMarker(new OpenLayers.Marker(lonLat));

    {% endfor %}

    var lonLat = new OpenLayers.LonLat( -3, 55 )
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          ); 
 
    map.setCenter (lonLat, zoom);
  </script>
</body></html>
